.button{
    background-color: var(--bgColor);
    color:var(--color);
}

.button::before{
    content:'';
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: all .23s ease-in-out;
}

.button:hover{
    color:var(--colorHover);
}

.button:hover.button::before{
    opacity: 1;
    background-color: var(--bgHover);
}

.button:active.button::before{
    transform: scale(0.8,0.6);
    border-radius: 8px;
}
.button:active{
    background-color: white;
    border: 2px solid var(--borderColor);
}